# Bỏ qua file môi trường ảo
.env
.venv
__pycache__

# Bỏ qua file cấu hình bí mật (QUAN TRỌNG NHẤT)
.envgit add .

# Bỏ qua database (Vì lên server sẽ tạo cái mới hoặc dùng cơ chế khác)
*.db
*.sqlite3

# Bỏ qua file log
*.log

# Bỏ qua file ý tưởng của IDE
.idea/
.vscode/

